.inbox {
    justify-self: center;
}

#inbox-back {
    position: absolute;
    top: 100px;
    left: 578px;
    font-size: 20px;
}

.inbox-message {
    background-color: rgb(190, 190, 129);
    width: 1200px;
    max-height: 200px;
}

.full-message {
    background-color: rgb(86, 93, 97);
    height: 800px;
}

.inbox-all {
    display: flex;
}