.inbox {
    justify-self: center;
}

#inbox-back {
    position: absolute;
    top: 100px;
    left: 18%;
    font-size: 20px;
}

.inbox-message {
    background-color: rgb(190, 190, 129);
    width: 1200px;
    max-height: 250px;
    border-radius: 2px;
}

.full-message {
    background-color: rgb(119, 128, 133);
    height: 800px;
    position: absolute;
    justify-self: center;
    margin-right: 20%;
    border-radius: 2px;
}

.inbox-all {
    display: flex;
}

.subject-line-full {
    display: flex;
    gap: 10%;
}

.full-message-x {
    background-color: red;
    max-width: 20px;
    max-height: 20px;
}

.inbox-blurbs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}