.profile {
    margin-top: 20px;
}

#profile-back {
    position: absolute;
    top: 90px;
    left: 220px;
    font-size: 20px;
}

#profile-banner {
    height: 500px;
    width: 70%;
    margin-bottom: -6px;
    align-self: center;
    margin-left: 15%;
}

#set-banner {
    position: absolute;
    top: 150px;
    margin-left: 37%;
}

#profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 50;
    position: absolute;
    top: 270px;
    justify-self: center;
    margin-right: 92%;
}

#set-pfp {
    position: absolute;
    top: 350px;
    margin-left: 32%;
    z-index: 100;
}

.profile-edit-button {
    justify-self: center;
    margin-top: 20px;
}

.profile-top {
    background-color: rgb(234, 235, 220);
    width: 1000px;
    justify-self: center;
    height: 200px;
    position: absolute;
    top: 380px;
    margin-left: 100%;
    justify-items: center;
}

#profile-username {
    color: black;
    font-size: 30px;
    padding-top: 30px;
}

#profile-description {
    padding-top: 20px;
}

#profile-works-created {
    color: rgb(21, 30, 33);
}

#profile-my-stories {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background-color: rgb(169, 174, 121);
    width: 500px;
    border-radius: 10%;
    align-self: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-self: center;
}

.profile-story {
    background-color: rgb(205, 212, 189);
    width: 120%;
    margin-right: 10%;
    height: 150px;
    border-radius: 10px;
    justify-self: center;
    display: flex;
    gap: 50px;
}

.profile-story-cover {
    width: 100px;
    height: 100px;
    margin-left: 40px;
    margin-top: 23px;
    border-radius: 10px;
}

.profile-story-info {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.profile-story-title {
    color: black;
    text-align: left;
    margin-top: 0%;
}

.profile-story-author {
    margin-top: -2%;
}

.profile-story-description {
    color: black;
    text-align: left;
    margin-top: -1%;
}

.profile-stories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
    padding-right: 5%;
}

